body {
  background-color: rgb(199, 240, 240);
  font-family: Roboto, Arial, sans-serif;
  max-width: 960px;
  margin: 10px auto;
  padding: 0 40px
}
ul {
  padding: 0;
  margin: 0
}
ul li {
  font-size: 18px;
  list-style-type: none;
  height: 48px;
  width: 100%;
  color: rgba(0, 0, 0, 63);
  border-bottom: 1px dashed black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}

input[type="text"] {
  height: 22px;
}

input[type="submit"] {
  padding: 10px;
  background-color: #008CBA;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.Search-form {
  top: 20px;
  font-size: 22px;
}